__pycache__
capstonenv
.DS_Store
*.pyc
/data/html_files/*
/data/tex_files/*
/data/xml_files/*
/data/json_files/*
/data/outputs/*
!/data/html_files/README.md
!/data/json_files/README.md
!/data/tex_files/README.md
!/data/xml_files/README.md
