<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="Title" content="Mathematical Expression Recognition" />
  <meta name="Author" content="Engine: Falvarez, Frontend: Luis A. Leiva" />
  <meta name="Description" content="A demo of our award.winning, state-of-the-art Mathematical Expression Recognition system." />
  <meta name="Keywords" content="mer, math, maths, handwriting, recognition" />

  <title>Mathematical Expression Recognition</title>

  <link type="text/css" rel="stylesheet" media="all" href="css/styles-index.css?1523992895" />

  <script type="text/javascript" src="js/console.js"></script>
  <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/javascript" src="js/jquery-2.1.0.min.js"></script>
  <script type="text/javascript" src="js/jsketch.min.js"></script>
  <script type="text/javascript" src="js/jquery.sketchable.min.js"></script>
  <script type="text/javascript" src="js/jquery.sketchable.memento.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>

</head>

<body>

<div id="header">
  <h1>Mathematical Expression Recognition</h1>
  <ul id="menu-nav">
    <li><a href="#overview">overview</a></li>
    <li><a href="#instructions">instructions</a></li>
    <li><a href="#publications">publications</a></li>
    <li><a href="#awards">awards</a></li>
    <li><a href="#exps">accepted expressions</a></li>
  </ul>
</div>

<div id="main-wrapper">
  <div id="main">
  <div class="app eq">
    <!--<label>Equation:</label>-->
    <div class="result" id="eq-render"></div>
    <!--<label>LaTeX code:</label>-->
    <div class="result" id="eq-latex"></div>
  </div><!-- app -->


  <div class="app draw">
    <canvas id="drawing-canvas" width="480" height="200"></canvas>
    <div class="controls">
      <a href="#" id="clear" class="btn fl">clear</a>
      <a href="#" id="send" class="btn fl">send</a>
      <a href="#" id="undo" class="btn fl">undo</a>
      <a href="#" id="redo" class="btn fl">redo</a>
    </div>
    <img id="drawhere" alt="Draw here!" src="img/drawhere.png">
  </div><!-- app -->

  </div><!--#main-->
</div><!--#main-wrapper-->

<div id="sections">

  <div class="section" id="overview">
    <h2>overview</h2>
    <p>This is a <em>work-in-progress</em> demonstrator of a Mathematical Expression Recognizer (Last update: September, 2016).</p>
  <p>The recognition engine is based on <a href="https://github.com/falvaro/seshat" target="_blank">SESHAT</a>, an open-source system for recognizing handwritten math expressions.</p>
  </div><!--.section-->

  <div class="section" id="instructions">
    <h2>instructions</h2>
    <!--<p>Easy as pie:</p>-->
    <ol>
      <li>Write an expression on the 'draw here' area.</li>
      <li>Click on the 'send' link to translate it to a LaTeX equation.</li>
    </ol>
  </div><!--#instructions-->

  <div class="section" id="publications">
    <h2>publications</h2>
    <ol>
      <li>
            <a href="http://www.prhlt.upv.es/page/publications/abstract?pid=1826&amp;details=1"
  title="Offline Features for Classifying Handwritten Math Symbols with Recurrent Neural Networks">2014, ICPR - Offline Features for Classifying Handwritten Math Symbols with Recurrent Neural Networks</a>
      </li>
      <li>
              <a href="http://www.prhlt.upv.es/page/publications/abstract?pid=1669&amp;details=1"
  title="A shape-based layout descriptor for classifying spatial relationships in handwritten math.">2013, DocEng - A shape-based layout descriptor for classifying spatial relationships in handwritten math</a>
      </li>
      <li>
            <a href="http://www.prhlt.upv.es/page/publications/abstract?pid=1663&amp;details=1"
  title="Classification of On-line Mathematical Symbols with Hybrid Features and Recurrent Neural Networks">2013, ICDAR - Classification of On-line Mathematical Symbols with Hybrid Features and Recurrent Neural Networks</a>
      </li>
      <li>
            <a href="http://www.prhlt.upv.es/page/publications/abstract?pid=1624&amp;details=1"
  title="Recognition of On-line Handwritten Mathematical Expressions Using 2D Stochastic Context-Free Grammars and Hidden Markov Models">2012, Pattern Recognition Letters - Recognition of On-line Handwritten Mathematical Expressions Using 2D Stochastic Context-Free Grammars and Hidden Markov Models</a>
      </li>
      <li>
            <a href="http://www.prhlt.upv.es/page/publications/abstract?pid=1541&amp;details=1"
  title="Recognition of Printed Mathematical Expressions Using Two-dimensional Stochastic Context-Free Grammars">2011, ICDAR - Recognition of Printed Mathematical Expressions Using Two-dimensional Stochastic Context-Free Grammars</a>
      </li>
      <li>
            <a href="http://www.prhlt.upv.es/page/publications/abstract?pid=582&amp;details=1"
  title="Comparing Several Techniques for Offline Recognition of Printed Mathematical Symbols">2010, ICPR - Comparing Several Techniques for Offline Recognition of Printed Mathematical Symbols</a>
      </li>
    </ol>
  </div><!--#publications-->

  <div class="section" id="awards">
    <h2>awards</h2>
    <ol>
      <li>
        <a href="http://users.dsic.upv.es/~falvaro/images/icfhr14award.jpg"
  title="Best system trained on CROHME dataset">2014, CROHME: Competition on Recognition of Online Handwritten Mathematical Expressions</a>
      </li>
      <li>
        <a href="http://users.dsic.upv.es/~falvaro/images/icdar13crohme.jpg"
  title="Best system using CROHME training set">2013, CROHME: Competition on Recognition of Online Handwritten Mathematical Expressions</a>
      </li>
      <li>
        <a href="http://users.dsic.upv.es/~falvaro/images/icdar11award.jpg"
  title="Winner of the CROHME 2011 competition">2011, CROHME: Competition on Recognition of Online Handwritten Mathematical Expressions</a>
      </li>
    </ol>
  </div><!--#awards-->

  <div class="section" id="applications">
    <h2>aplications</h2>
    <ol>
      <li>
        <a href="https://mucaptcha.com" title="μcaptcha">2015, μcaptcha: Solving captchas on touchscreens made easy</a>
      </li>
    </ol>
  </div><!--#applications-->

</div><!--#sections-->


<div id="footer">
  <p>&copy; 2018    <a href="http://www.prhlt.upv.es/">PRHLT</a> |
    <a href="http://www.upv.es/">UPV</a>
  </p>
</div><!--#footer-->

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-25576819-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>
